.container {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 95% 2.5%;
}


.color-palette {
  width: 100%;
}


.color-code {
  padding-top: 0.5rem;
  margin: auto;
  display: flex;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: var(--gray-900);
}