:root {
  /* Colors */
  --neutral-900: hsl(240, 40%, 22%);
  --neutral-600: hsl(240, 17%, 41%);
  --neutral-300: hsl(240, 23%, 65%);
  --neutral-200: hsl(220, 6%, 81%);
  --neutral-0: hsl(0, 0, 100%);

  --blue-700: hsl(230, 68%, 50%);
  --blue-600: hsl(228, 69%, 57%);
  --blue-200: hsl(226, 78%, 87%);
  --blue-100: hsl(226, 68%, 93%);

  --red: hsl(355, 100%, 45%);
  --red-200: hsl(1, 100%, 80%);
  --indigo-200: hsl(247, 100%, 85%);
  --blue-300: hsl(207, 100%, 77%);
  --green-300: hsl(115, 72%, 71%);
  --amber-300: #ffc97c;

  /* Typography */

  --text-preset-1: 
}
